@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


@theme {
    --color-surface: #fefefe;
    --color-surface-secondary: #fcfcfe;
    --color-gray-custom: #1d2433;
    --color-green-custom: #005c66;
    --color-green-light-100: #f8fbf8;
    --color-green-light-200: #dae8e2;
    --color-green-light-700: #51a167;
    --color-green-light-800: #0f7c24;
    --color-violet-custom-100: #f7f6fd;
    --color-violet-custom-200: #a9a7ca;
    --color-violet-custom-300: #f8f8fd;
    --color-violet-custom-400: #6f3dfb;
    --color-violet-custom-500: #f5f3fd;
    --color-violet-custom-600: #612bf4;
    --color-violet-custom-800: #1e1661;
    --color-violet-custom-900: #1c0e5d;
    --color-black-violet-custom: #4b446e;
    --font-poppins: "Poppins", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

.custom-input {
    @apply border-2 border-green-light-200 bg-green-light-100 py-2 pr-3 pl-12 mb-1 text-base rounded-md text-neutral-700 md:min-w-sm focus:border-green-light-800 user-invalid:border-red-600 focus:user-invalid:border-red-600 focus:outline-none user-invalid:bg-pink-50;
}

.custom-icon {
    @apply text-green-light-800 text-base absolute top-3.5 left-4 peer-user-invalid:text-red-600;
}

.custom-label {
    @apply text-gray-400 text-sm absolute top-3 left-10 px-1.5 transition duration-200 bg-white scale-80 -translate-y-5 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-5 peer-focus:scale-80 peer-user-invalid:text-red-600 peer-placeholder-shown:bg-green-light-100 peer-focus:bg-white;
}

.custom-error {
    @apply text-xs text-red-600 pl-2 invisible peer-user-invalid:visible
}

.badge {
    @apply bg-violet-custom-100 text-violet-custom-400 py-2 px-4 rounded-2xl inline-block shadow-sm shadow-violet-custom-600/15 cursor-pointer font-semibold text-xs capitalize  transition-colors duration-200;
}

.badge:hover {
    @apply bg-violet-custom-400 text-white -translate-y-0.5 shadow-md;
}

.badge-course {
    @apply py-1 px-3 rounded-2xl inline-block cursor-pointer text-xs mr-2 absolute top-3 left-4;
}

.link {
    @apply transition-colors duration-200 ease-in-out;
}

.link:hover {
    @apply underline underline-offset-16 decoration-2 decoration-violet-custom-400 text-violet-custom-600;
}

.btn-primary {
    @apply px-4 py-2 bg-violet-custom-600 text-white rounded-lg hover:bg-violet-custom-600/90 transition-colors duration-200 cursor-pointer font-semibold;
}

.container-custom {
    @apply px-4 lg:px-8;
}

.section-title {
    @apply text-violet-custom-900 font-bold pb-5 text-lg mt-2 lg:mt-5;
}

.category-card {
    @apply text-center pt-6 pb-4 px-7 rounded-xl transition-all duration-300 cursor-pointer hover:-translate-y-1 hover:shadow xl:grow
}

.category-icon {
    @apply text-3xl py-1 px-2 rounded-md text-white;
}

.category-title {
    @apply capitalize mt-4 font-semibold text-sm;
}

.card-popular {
    @apply rounded-bl-2xl rounded-br-2xl shadow-xl  max-w-82 w-70 shadow-violet-50 hover:shadow-2xl hover:shadow-violet-100 relative transition-all duration-300 cursor-pointer hover:-translate-y-1 md:grow;
}

.card-popular-lesson {
    @apply h-32 w-full bg-cover bg-top rounded-tl-2xl rounded-tr-2xl flex justify-end items-center pr-5 bg-linear-120
}

.popular-icon {
    @apply inline-block transition-transform group-hover:scale-105;
}

.popular-lesson-title {
    @apply capitalize text-white absolute top-10 left-4 text-2xl leading-7 font-semibold;
}
.popular-detail{
    @apply flex items-baseline justify-between text-violet-custom-800 -mt-5 px-3 text-sm pb-2;
}
.teacher-pic{
    @apply size-10 rounded-full border-2 border-white;
}
.course-price{
    @apply mx-2.5 border-t border-violet-custom-200/30 text-lg text-violet-custom-800 font-bold py-2 pl-3;
}
.course-first-price{
    @apply line-through text-sm text-violet-custom-200 ml-2;
}